* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: poppins;
    src: url(Poppins-Regular.ttf);
}

body {
    display: flex;
    flex-direction: row;  
    justify-content: center; 
    align-items: center;  
    height: 100vh;       
    font-family: 'poppins';
}

.left {
    background-color: #3e72ef;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 70px;
    flex-direction: column;
}
.left img{
    width: 50%;
    padding: 20px 1px;
}
.left h1{
    color: white;
    padding: 10px 1px;
}

.cajaLogin {
    background-color: white;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    padding-bottom: 40px;
}
.cajaLogin form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    font-size: 20px;
}
.cajaLogin form input{
    border: 0px;
    background-color: #ececec;
    padding: 10px 1px;
    margin: 10px 1px;
    width: 300px;
    font-size: 20px;
    border-radius: 18px;
    text-align: center;
}
.cajaLogin a{
    color: black;
}
.boton{
    background-color: #3e72ef;
    border-radius: 18px;    
    padding: 10px 20px;
    transition: ease 0.5s;
} 
.boton a{
    color:white;
    text-decoration: none;
}
.boton a:hover{
    color: black;
}
.boton:hover{
    background-color: #ffeaac;
    transform:scale(1.1);
}
.cajaLogin h1{
    color: #3e72ef;
    font-size: 40px;
}


@media(max-width:650px){
    body{
        display:flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .left{
        width: 100%;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .left img{
        width: 40%;
    }
    .cajaLogin{
        width: 100%;
    }
}

